@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1260px;
    }
}

/* ----------NAV-SECTION--------- */

@media (max-width: 992px) {
    .navbar-collapse {
        align-items: center;
        display: flex;
        gap: 10px !important;
        text-align: center;
        flex-direction: column;
    }

    .navbar-brand {
        font-size: 20px;
    }

    .mynav_links li {
        padding: 6px 0;
    }

    .mynav_links li a {
        font-size: 14px;
    }

}

@media (max-width: 576px) {
    .navbar {
        padding: 10px 0;
    }

    .navbar-brand {
        font-size: 18px;
    }

}

/*--------------- HERO-SECTION------------ */

@media (max-width: 992px) {
    .hero_content p {
        font-size: 20px;

    }

    .hero_bottom {
        gap: 50px;
        bottom: 4%;
    }
}

@media (max-width: 768px) {
    .hero_wrapper {
        height: 90vh;
    }

    .hero_content p {
        font-size: 16px;
        padding: 0 16px;
    }

    .bottom_item span {
        font-size: 11px;
    }
}

@media (max-width: 576px) {
    .hero_wrapper {
        height: auto;
        padding: 100px 0;
    }

    .bottom_item {
        margin: 0 !important;
        padding: 0 !important;
    }

    .hero_bottom {
        position: static;
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;
    }

    .hero_content p {
        font-size: 14px;
    }

    .heroBtn {
        font-size: 11px;
        padding: 8px 20px;
    }
}

/* --------------FEATURE-CARD-SECTION--------- */

@media (max-width: 992px) {
    .feature-card_wrapper {
        padding: 80px 0;
    }

    .feature-front h5 {
        font-size: 16px;
    }
}

@media (max-width: 768px) {

    .feature-back p {
        font-size: 11px;
        padding: 0 15px;
    }

    .feature-back .btn {
        font-size: 10px;
    }
}

@media (max-width: 576px) {
    .feature-card_wrapper {
        padding: 60px 0;
    }

    .feature-card {
        height: auto;
        min-height: 200px;
        padding: 40px 15px;
    }

    .feature-front img {
        width: 42px;
    }

    .feature-front h5 {
        font-size: 15px;
    }

    .feature-back p {
        font-size: 11px;
        line-height: 1.5;
    }

    .feature-back .btn {
        padding: 6px 18px;
        font-size: 10px;
    }
}

/* ----------WELCOME-SECTION--------- */

@media (max-width: 1200px) {
    .welcome_rightSide {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .welcome_rightSide {
        text-align: center;
    }

    .main_heading h1 {
        margin-bottom: 20px;
    }

    .circle_img {
        left: auto;
        width: 100%;
        height: 100%;

    }
}

@media (max-width: 768px) {
    .main_heading h1 {
        font-size: 18px;
        margin-bottom: 20px;
    }
}

/* ----------SERVICE-SECTION-------- */

@media (max-width: 992px) {
    .service_overlay h4 {
        font-size: 16px;
    }


    .service-section {
        margin: 40px 0;
    }

    .twoBtnDiv {
        justify-content: center;
        gap: 10px !important;
        padding: 0;
    }
    .colorBtn{
        padding: 8px 28px;
    }
}

@media (max-width: 576px) {
    .service_overlay h4 {
        font-size: 14px;
    }

}

/* -----------DR-SECTION---------- */

@media (max-width: 1222px) {
    .dr-leftSide {
        width: 100%;
    }

    .dr_circle {
        right: -28%;
        width: 100%;
        height: 100%;
    }

    .dr_heading {
        margin-top: 10px;
        max-width: 100%;

    }
}

@media (max-width: 992px) {
    .dr_circle {
        right: auto;
    }

    .dr-leftSide {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .dr_heading {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width: 768px) {
    .dr-leftSide {
        text-align: center;
    }

}

@media (max-width: 576px) {

    .dr_heading {
        font-size: 14px;
    }

    .main_heading {
        max-width: 100%;
        padding: 0;
    }
}

/*------------ FEATURE-SECTION-------- */

@media (max-width: 992px) {
    .features-section {
        padding: 50px 0;
    }

    .feature-box {
        padding: 35px 20px;
    }
}

@media (max-width: 768px) {
    .features-section {
        padding: 40px 0;
    }

    .feature-box {
        padding: 30px 20px;
        gap: 15px;
    }

    .features-section .row {
        justify-content: center !important;
    }
}

@media (max-width: 576px) {
    .feature-box {
        padding: 25px 8px;
    }

    .feature-box img {
        width: 32px;
    }
}

/* ---------DR=SECTION-------- */

@media (max-width: 992px) {
    .dr-section {
        margin: 60px 0;
    }

    .dr_man_center {
        justify-content: center !important;
    }

    .dr_man {
        width: 400px;
        height: 400px;

    }

    .dr_man img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .dr-section {
        margin: 50px 0;
    }

    .dr_man {
        width: 280px;
        height: 280px;
    }

}

/* -----TESTIMONIAL-SECTION------ */

@media (max-width: 1210px) {
    .testimonial-text p {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .testimonial-text p {
        text-align: center;
        line-height: 2.5;

    }

    .testimonial_btn {
        padding: 8px 18px;
    }
}

@media (max-width: 576px) {
    .testimonial_head h3 {
        font-size: 22px;
    }

    .testimonial_head p {
        font-size: 13px;
    }

    .carousel_imgDiv img {
        width: 150px;
        height: 150px;
    }

    .testimonial_btn {
        font-size: 10px;
    }
}

/* ------------FORN-SECTION----------- */

@media (max-width: 768px) {
    .appointment-form {
        padding: 40px 30px;
    }

    .appointment-form .col-md-6 {
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-bottom: 25px;
    }
}

/* ---------FOOTER-SECTION-------- */

@media (max-width: 992px) {
    .contact-section {
        padding: 60px 20px;
        text-align: center;
    }

    .contact-section p {
        max-width: 100%;
        margin: 0 auto 20px;

    }

    .contact-info {
        margin-top: 20px;
    }

    .contact-info p {
        justify-content: center;
    }

    .map-circle {
        width: 300px;
        height: 300px;
        margin: 30px auto 0;
    }

    .dental img {
        display: none;
    }
}

@media (max-width: 576px) {
    .contact-section h2 {
        font-size: 18px;
    }

    .contact-section p {
        max-width: 100%;
        line-height: 2;
    }

    .map-circle {
        width: 250px;
        height: 250px;
    }
}