@font-face {
    font-family: "poppinsRegular";
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "poppinsBold";
    src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "poppinsMedium";
    src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "poppinsSemiBold";
    src: url("../fonts/Poppins-SemiBold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #FFFFFF;
    --light-purple: #00000029;
    --dark-purple: #561D5E;
    --black-color: #000000;
    --grey-color: #333333;
    --light-grey: #3333339C;
}

/* ----------NAV-SECTION--------- */

.navbar-brand {
    color: var(--dark-purple);
    font-family: "poppinsSemiBold";
    font-size: 22px;
}

.mynav_links li {
    padding: 0 16px;
}

.mynav_links li a {
    font-size: 12px;
    color: var(--light-purple);
    font-family: "poppinsSemiBold";
}

.mynav_links li a:hover {
    color: var(--dark-purple);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--dark-purple);
}

.transparentBtn {
    padding: 8px 26px;
    border: 2px solid var(--dark-purple);
    color: var(--dark-purple);
    background: transparent;
    border-radius: 25px;
    font-family: "poppinsSemiBold";
    font-size: 10px;
}

.transparentBtn:hover {
    background-color: var(--dark-purple);
    color: var(--white-color);

}

/*--------------- HERO-SECTION------------ */

.hero_wrapper {
    background: url(../images/Group\ 157.png);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero_content {
    text-align: center;
    max-width: 700px;
}

.hero_content p {
    color: var(--white-color);
    font-family: "poppinsSemiBold";
    font-size: 24px;
    line-height: 1.7;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.heroBtn {
    padding: 10px 28px;
    border: 2px solid var(--white-color);
    background: transparent;
    color: var(--white-color);
    cursor: pointer;
    font-size: 10px;
    border-radius: 25px;
    font-family: "poppinsSemiBold";
}

.heroBtn:hover {
    background: var(--dark-purple);
    border-color: var(--dark-purple);
}

.hero_bottom {
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 2%;
    gap: 200px;
    width: 100%;
}

.bottom_item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white-color);
    font-family: "poppinsMedium";
    font-size: 10px;
    letter-spacing: 0.4px;
    font-weight: lighter;
    cursor: pointer;
}

.bottom_item i {
    font-size: 14px;
    margin-bottom: 6px;
    transition: all 0.4s ease;
    opacity: 1;
    transform: translateY(0);
}

.bottom_item span {
    transition: all 0.4s ease;
    transform: translateY(0);
}

.bottom_item:hover i {
    transform: translateY(6px);
    opacity: 0;
}

.bottom_item:hover span {
    transform: translateY(-16px);
}

/* --------------FEATURE-CARD-SECTION--------- */

.feature-card_wrapper {
    padding: 100px 0;
}

.feature-card {
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.14);
    text-align: center;
    padding: 60px 20px;
    position: relative;
    transition: 0.3s ease;
    height: 240px;

}

.feature-front img {
    width: 48px;
}

.feature-front {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.feature-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.feature-front {
    opacity: 1;
    visibility: visible;
}

.feature-back {
    opacity: 0;
    visibility: hidden;
}

.feature-card:hover .feature-front {
    opacity: 0;
    visibility: hidden;
}

.feature-card:hover .feature-back {
    opacity: 1;
    visibility: visible;
}

.feature-front h5 {
    color: var(--dark-purple);
    font-family: "poppinsBold";
    font-size: 17px;
    line-height: 1.4;
}

.feature-back p {
    color: var(--black-color);
    font-size: 10px;
    margin-bottom: 20px;
    font-family: "poppinsMedium";
    line-height: 20px;
    padding: 0 30px;
}

.feature-back .btn {
    background-color: var(--white-color);
    color: var(--dark-purple);
    border: 2px solid var(--dark-purple);
    padding: 6px 20px;
    font-family: "poppinsSemiBold";
    border-radius: 25px;
    font-weight: 100;
    font-size: 10px;
}

.feature-back .btn:hover {
    background-color: var(--dark-purple);
    color: var(--white-color);
}

/* ----------WELCOME-SECTION--------- */

.main_heading {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.main_heading h1 {
    font-family: "poppinsSemiBold";
    font-size: 24px;
    color: var(--dark-purple);
    line-height: 1.4;
}

.welcome_rightSide {
    width: 69%;
}

.circle_img {
    position: relative;
    width: 640px;
    height: 640px;
    left: -42%;
}

.circle_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcome_rightSide p {
    font-family: "poppinsMedium";
    margin-bottom: 26px;
    color: var(--grey-color);
    line-height: 30px;
    font-size: 10px;
}

.colorBtn {
    background-color: var(--dark-purple);
    padding: 10px 35px;
    border: 2px solid var(--dark-purple);
    color: var(--white-color);
    border-radius: 25px;
    font-family: "poppinsBold";
    font-weight: 100;
    font-size: 10px;
    letter-spacing: 0.6px;

}

.colorBtn:hover {
    background: transparent;
    color: var(--dark-purple);
}

/* ----------SERVICE-SECTION-------- */

.service_image {
    position: relative;
}

.service_image img {
    height: 300px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(73, 30, 80, 0.2);
    border-radius: 10px;
    transition: all 0.4s ease;
}

.service_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.service_overlay {
    transform: translateY(0);
    transition: transform 0.5s ease;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service_overlay h4 {
    font-family: "poppinsSemiBold";
    color: var(--white-color);
    font-size: 20px;
    letter-spacing: 0.4px;
    font-weight: 400;
    margin-bottom: 30px;
}

.whiteTransBtn {
    color: var(--white-color);
    border: 2px solid var(--white-color);
    padding: 6px 22px;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 25px;
    background-color: transparent;
    transform: translateY(20px);
    transition: all 0.3s ease;
    opacity: 0;

}

.service_back:hover .service_overlay h4 {
    transform: translateY(-100px);
}


.service_back:hover .whiteTransBtn {
    transform: translateY(-90px);
    opacity: 1;
}

.whiteTransBtn:hover {
    background-color: var(--white-color);
    color: var(--dark-purple);
}

.service_back:hover {
    background-color: rgba(73, 30, 71, 0.6);
}

/* -----------DR-SECTION---------- */

.dr_heading {
    font-family: "poppinsSemiBold";
    color: var(--dark-purple);
    font-size: 16px;
    max-width: 90%;
    line-height: 24px;
    margin-bottom: 26px;

}

.dr-leftSide {
    width: 70%;
    padding-left: 60px;
}

.dr-leftSide p {
    font-family: "poppinsMedium";
    margin-bottom: 26px;
    color: var(--grey-color);
    line-height: 30px;
    font-size: 10px;

}

.dr_rightSide {
    overflow-x: hidden;
}

.dr_circle {
    position: relative;
    right: -32%;
    width: 640px;
    height: 640px;
}

.dr_circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*------------ FEATURE-SECTION-------- */

.features-section {
    position: relative;
    background: url(../images/teeth.jpg) center/cover no-repeat;
    padding: 40px 0;
    text-align: center;

}

.features-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 45, 110, 0.9);
    z-index: 1;
}

.features-section>.container {
    position: relative;
    z-index: 2;
}

.feature-box {
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.feature-box img {
    width: 36px;
}

.feature-box p {
    font-size: 11px;
    font-weight: 100;
    font-family: "poppinsSemiBold";
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--white-color);
}

/* ---------DR=SECTION-------- */

.dr-section{
    margin: 80px 0  ;
}
.dr-headind h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    font-family: "poppinsSemiBold";

}

/* -----TESTIMONIAL-SECTION------ */

.testimonial_head h3 {
    font-size: 26px;
    margin-bottom: 30px;
    font-size: 400;
    letter-spacing: 0.4px;
    font-family: "poppinsSemiBold";
    color: var(--white-color);

}

.testimonial_head p {
    font-size: 19px;
    font-size: 400;
    letter-spacing: 1px;
    font-family: "poppinsMedium";
    color: var(--white-color);

}

.testimonials-section {
    background-color: #5b2675;
    position: relative;
}

.testimonial-text p {
    font-family: "poppinsMedium";
    color: var(--white-color);
    font-size: 10px;
    font-weight: 100;
    max-width: 64%;
    line-height: 3.4;
    letter-spacing: 0.6px;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    opacity: 1;
}

.carousel-indicators .active {
    background-color: #fff;

}

.testimonial_btn:hover {
    background-color: #fff;
    color: #5b2675;
}

.carousel_imgDiv img {
    width: 200px;
    margin-top: 24px;
}

.carousel_imgDiv h6 {
    color: var(--white-color);
    font-family: "poppinsSemiBold";
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 0.8px;

}

.testimonial_btn {
    color: var(--white-color);
    background: transparent;
    border-radius: 25px;
    border: 2px solid var(--white-color);
    padding: 12px 22px;
    font-family: "poppinsBold";

    font-weight: 100;
    font-size: 10px;
    letter-spacing: 0.4px;
}

/* ------------FORN-SECTION----------- */

.appointment-form {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    margin: 110px auto;
    padding: 50px 100px;
}

.appointment-form h3 {
    color: var(--dark-purple);
    font-family: "poppinsSemiBold";
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    margin-bottom: 60px;
}

.form-control,
.form-select {
    text-transform: uppercase;
    font-family: "poppinsMedium";
    border: none;
    border-bottom: 1px solid #444;
    font-size: 10px;
    color: var(--grey-color);
    border-radius: 0;
    box-shadow: none !important;
}

.submit-btn {
    display: block;
    margin: 25px auto 0;
    padding: 11px 45px;
}

/* ---------FOOTER-SECTION-------- */

.contact-section {
    background-color: var(--dark-purple);
    color: #fff;
    padding: 80px 0;
    position: relative;
    overflow: hidden;

}

.contact-section h2 {
    font-family: "poppinsSemiBold";
    font-size: 22px;
    margin-bottom: 28px;
}

.contact-section p {
    color: #ddd;
    font-family: "poppinsMedium";
    font-size: 10px;
    max-width: 65%;
    line-height: 2.6;
    margin-bottom: 15px;
}

.contact-info i {
    color: #fff;
    font-size: 12px;
    margin-right: 4px;
}

.map-circle {
    width: 400px;
    height: 400px;

}

.map-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hello img {
    position: absolute;
    right: -9%;
    bottom: -20%;
    width: 340px;
    height: 340px;

}