@font-face {
    font-family: "poppinsRegular";
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "poppinsBold";
    src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "poppinsMedium";
    src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "poppinsSemiBold";
    src: url("../fonts/Poppins-SemiBold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #FFFFFF;
    --light-purple: #00000029;
    --dark-purple: #561D5E;
    --black-color: #000000;
    --grey-color: #333333;
    --light-grey: #3333339C;
}


.navbar-brand {
    color: var(--dark-purple);
    font-family: "poppinsSemiBold";
    font-size: 22px;
}

.mynav_links li {
    padding: 0 16px;
}

.mynav_links li a {
    font-size: 12px;
    color: var(--light-purple);
    font-family: "poppinsSemiBold";
}

.mynav_links li a:hover {
    color: var(--dark-purple);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--dark-purple);
}

.transparentBtn {
    padding: 8px 26px;
    border: 2px solid var(--dark-purple);
    color: var(--dark-purple);
    background: transparent;
    border-radius: 25px;
    font-family: "poppinsSemiBold";
    font-size: 10px;
}

.transparentBtn:hover {
    background-color: var(--dark-purple);
    color: var(--white-color);

}

/*--------------- HERO-SECTION------------ */

.hero_wrapper {
    background: url(../images/Group\ 157.png);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero_content {
    text-align: center;
    max-width: 700px;
}

.hero_content p {
    color: var(--white-color);
    font-family: "poppinsSemiBold";
    font-size: 24px;
    line-height: 1.7;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.heroBtn {
    padding: 10px 28px;
    border: 2px solid var(--white-color);
    background: transparent;
    color: var(--white-color);
    cursor: pointer;
    font-size: 10px;
    border-radius: 25px;
    font-family: "poppinsSemiBold";
}

.heroBtn:hover {
    background: var(--dark-purple);
    border-color: var(--dark-purple);
}

.hero_bottom {
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 2%;
    gap: 200px;
    width: 100%;
}

.bottom_item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white-color);
    font-family: "poppinsMedium";
    font-size: 10px;
    letter-spacing: 0.4px;
    font-weight: lighter;
    cursor: pointer;
}

.bottom_item i {
    font-size: 14px;
    margin-bottom: 6px;
    transition: all 0.4s ease;
    opacity: 1;
    transform: translateY(0);
}

.bottom_item span {
    transition: all 0.4s ease;
    transform: translateY(0);
}

.bottom_item:hover i {
    transform: translateY(6px);
    opacity: 0;
}

.bottom_item:hover span {
    transform: translateY(-16px);
}

/* --------------FEATURE-CARD-SECTION--------- */

.feature-card_wrapper {
    padding: 100px 0;
}

.feature-card {
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.14);
    text-align: center;
    padding: 60px 20px;
    position: relative;
    transition: 0.3s ease;
    height: 240px;

}

.feature-front img {
    width: 48px;
}

.feature-front {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.feature-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.feature-front {
    opacity: 1;
    visibility: visible;
}

.feature-back {
    opacity: 0;
    visibility: hidden;
}

.feature-card:hover .feature-front {
    opacity: 0;
    visibility: hidden;
}

.feature-card:hover .feature-back {
    opacity: 1;
    visibility: visible;
}

.feature-front h5 {
    color: var(--dark-purple);
    font-family: "poppinsBold";
    font-size: 17px;
    line-height: 1.4;
}

.feature-back p {
    color: var(--black-color);
    font-size: 10px;
    margin-bottom: 20px;
    font-family: "poppinsMedium";
    line-height: 20px;
    padding: 0 30px;
}

.feature-back .btn {
    background-color: var(--white-color);
    color: var(--dark-purple);
    border: 2px solid var(--dark-purple);
    padding: 6px 20px;
    font-family: "poppinsSemiBold";
    border-radius: 25px;
    font-weight: 100;
    font-size: 10px;
}

.feature-back .btn:hover {
    background-color: var(--dark-purple);
    color: var(--white-color);
}

/* ----------WELCOME-SECTION--------- */

.main_heading {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.main_heading h1 {
    font-family: "poppinsSemiBold";
    font-size: 24px;
    color: #3d0e58;
    line-height: 1.4;
}

.circle_img {
    position: relative;
    width: 600px;
    height: 600px;
    left: -34%;
}

.circle_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcome_rightSide P {
    font-family: "poppinsMedium";
    margin-bottom: 26px;
    color: var(--grey-color);
    line-height: 30px;
    font-size: 10px;
}

.colorBtn {
    background-color: var(--dark-purple);
    padding: 8px 26px;
    border: 2px solid var(--dark-purple);
    color: var(--white-color);
    border-radius: 25px;
    font-family: "poppinsBold";
    font-weight: 100;
    font-size: 10px;

}

.colorBtn:hover {
    background: transparent;
    color: var(--dark-purple);
}